<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="../static/css/tiny-slider.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
		{% block styles %} {% endblock %}

		
		
		<title>{% block title %}Teach&Study{% endblock %}</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Teach&Study<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="/">Головна</a>
						</li>
						{% if user.is_authenticated %}
							{% if user.is_student %}
								<li><a class="nav-link" href="/tutors">Знайти репетитора</a></li>
								<li><a class="nav-link" href="about.html">Журнал оцінок</a></li>
								<li><a class="nav-link" href="about.html">Про нас</a></li>
							{% else %}
								<li><a class="nav-link" href="shop.html">Мої учні</a></li>
								<li><a class="nav-link" href="/curriculum">Мої плани</a></li>
								<li><a class="nav-link" href="about.html">Про нас</a></li>
							{% endif %}
						{% else %}
							<li><a class="nav-link" href="/tutors">Знайти репетитора</a></li>
							<li><a class="nav-link" href="services.html">Стати репетитором</a></li>
							<li><a class="nav-link" href="about.html">Про нас</a></li>
						{% endif %}
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a
							class="nav-link dropdown-toggle hidden-arrow"
							type="button"
							id="dropdownMenuicon"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						  >
								<img src="../static/images/user.svg">
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuicon">
								<li><a class="dropdown-item" href="/profile"> <i class="fas fa-user-alt pe-2"></i>Профіль</a></li>
								<li><a class="dropdown-item" href="#"> <i class="fas fa-cog pe-2"></i>Налаштування</a></li>
								<li><a class="dropdown-item" href="/logout"> <i class="fas fa-door-open pe-2"></i>Вийти</a></li>
							  </ul>
						</li>
						{% else %}
							<li><a class="nav-link" href="/login"><img src="../static/images/user.svg"></a></li>
						{% endif %}
						<li><a class="nav-link" href="/calendar"><img src="../static/images/calendar.svg"></a></li>
						
					</ul>
				</div>
			</div>
				
		</nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

	{% block styles2 %} {% endblock %}
    {% block content %} {% endblock %}

	{% block scripts %} {% endblock %}

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/tiny-slider.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>
