{% extends "base.html" %} {% block title %}Teach&Study{% endblock %}

{% block content %}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1> Освітня платформа, <span clsas="d-block">що об'єднує людей</span></h1>
                    <p class="mb-4">Ми надаємо вам комунікацію, розклад, регулювання оплати та засоби відстеження прогресу, щоб забезпечити ефективне навчання онлайн. Від вас потрібно лише бажання!</p>
                    <p><a href="" class="btn btn-secondary me-2 mb-2">Пошук репетитора</a><a href="#" class="btn btn-white-outline">Детальніше</a></p>
                    {% if user.is_authenticated %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-7 mt-5">
                <div class="hero-img-wrap" style="border: radius 20px;">
                    <img src="../static/images/1.jpg" width="600" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
{% endblock %}