{% extends "base.html" %} {% block title %}Профіль{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="row">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../static/images/blank-profile-picture.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
              <p class="text-muted mb-1">
                {% if user.is_student == True%}
                  Учень
                {% else %}
                  Репетитор
                {% endif %}
              </p>
              <p class="text-muted mb-4">
                {% if user.address != None %}
                  {{user.address}}
                {% endif %}
              </p>
              {% if user.is_student %}
                <a class="btn btn-m btn-secondary" style="width: 100%;">До журналу оцінок</a>
              {% else %}
            
                <a class="btn btn-m btn-secondary" href="/curriculum"  style="width: 100%;" >До планів</a>
              {% endif %}
            </div>
          </div>
          </div>
        <div class="row mb-4">
              <div class="col-lg-6">
                <div class="card mb-4"style="height: 100%; width: 100%;">
                  <div class="card-body">
                  <form id="userDataForm" method="POST">

                    <div class="row form-outline mb-4">
                      <div class="col-3">
                        <label for="first_name">Ім'я</label>
                      </div>
                      <div class="col-9">
                        <input class="form-control form-control-sm" type="text" id="first_name" name="first_name" style="width: 100%;" value="{{user.first_name}}">
                      </div>
                    </div>
                    <div class="row form-outline mb-4">
                      <div class="col-3">
                        <label for="last_name">Прізвище</label>
                      </div>
                      <div class="col-9">
                        <input class="form-control form-control-sm" type="text" id="last_name" name="last_name" style="width: 100%;" value="{{user.last_name}}">
                      </div>
                    </div>
                    <div class="row form-outline mb-4">
                      <div class="col-3">
                        <label for="email">Пошта</label>
                      </div>
                      <div class="col-9">
                        <input class="form-control form-control-sm" type="text" id="email" name="email" style="width: 100%;" value="{{user.email}}">
                      </div>
                    </div>
                    <div class="row form-outline mb-4">
                      <div class="col-3">
                        <label for="phone">Телефон</label>
                      </div>
                      <div class="col-9">
                        <input class="form-control form-control-sm" type="text" id="phone" name="phone" style="width: 100%;" value="{% if user.phone != None %}{{user.phone}}{% endif %}">
                      </div>
                    </div>
                    <div class="row form-outline mb-4">
                      <div class="col-3">
                        <label for="address">Адреса</label>
                      </div>
                      <div class="col-9">
                        <input class="form-control form-control-sm" type="text" id="address" name="address" style="width: 100%;" value="{% if user.address != None %}{{user.address}}{% endif %}">
                      </div>
                    </div>
                    <!-- Other fields for last name, email, phone, address go here -->
                    <!-- ... -->
              
                    <div class="row justify-content-end"> <!-- Use Bootstrap utility class for right alignment -->
                      <div class="col-9"> <!-- Use col-auto for automatic column sizing -->
                        <button class="btn btn-m btn-secondary" style="width: 100%;" type="submit">Зберегти</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-4 mb-lg-0" style="height: 100%; width: 100%;">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3 d-flex flex-column" style="height: 100%;"> <!-- Apply flex-column class -->
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3 flex-grow-1">
                    <i class="fas fa-globe fa-lg text-warning"></i>
                    <p class="mb-0">https://solomiyash.com</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3 flex-grow-1">
                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                    <p class="mb-0">solomiyash</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3 flex-grow-1">
                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                    <p class="mb-0">@solomiyash</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3 flex-grow-1">
                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                    <p class="mb-0">solomiyash</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3 flex-grow-1">
                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                    <p class="mb-0">solomiyash</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}